<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".reports.AdherenceSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".providers.AccessInfoActivity"
            android:exported="false" />
        <activity
            android:name=".providermanaging.AccessPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".childmanaging.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".childmanaging.SignInChildProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChildActivity"
            android:exported="false" />
        <activity
            android:name=".selector.SelectorActivity"
            android:exported="false" />
        <activity
            android:name=".providermanaging.InvitationAcceptActivity"
            android:exported="false" />
        <activity
            android:name=".providermanaging.InvitationCreateActivity"
            android:exported="false" />
        <activity
            android:name=".providers.ProviderActivity"
            android:exported="false" />
        <activity
            android:name=".ParentActivity"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerInstructions"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerMenu"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerLogs"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerBadge"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerDailyStreak"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerUse"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerUseReady"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerUseAfter"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerUseRescue"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerUseController"
            android:exported="false" />
        <activity
            android:name=".ChildInhalerVideo"
            android:exported="false" />
        <activity
            android:name=".ParentInhalerCreate"
            android:exported="false" />
        <activity
            android:name=".ParentInhalerMenu"
            android:exported="false" />
        <activity
            android:name=".ParentBadge"
            android:exported="false" />
        <activity
            android:name=".childmanaging.CreateChildActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dailycheckin.CheckInView"
            android:exported="false" />
        <activity
            android:name=".dailycheckin.FilterCheckInByDate"
            android:exported="false" />
        <activity
            android:name=".dailycheckin.FilterCheckInBySymptoms"
            android:exported="false" />
        <activity
            android:name=".dailycheckin.ViewCheckInHistory"
            android:exported="false" />
        <activity
            android:name=".SignIn.SignInView"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".notifications.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".medication.ControllerScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".reports.ProviderReportGeneratorActivity"
            android:exported="true" />
        <activity
            android:name=".reports.ChildDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".reports.TrendSnippetActivity"
            android:exported="false" />
        <activity
            android:name=".reports.ProviderReportViewActivity"
            android:exported="false" />
        <activity
            android:name=".safety.PEFEntryActivity"
            android:exported="false" />
        <activity
            android:name=".safety.PEFHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".safety.SetPersonalBestActivity"
            android:exported="false" />
        <activity
            android:name=".safety.TriageActivity"
            android:exported="false" />
        <activity
            android:name=".safety.IncidentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".safety.ProviderReportActivity"
            android:exported="false" />
        <activity
            android:name=".safety.ActionPlanActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>